/*==================================================================================*/
*{

}

/*navbar*/

.naavbar a {
  font-size: 19px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  float: left;
  padding: 6px;
  margin-bottom: 1%;
  margin-bottom: -0.2%;
  margin-left: 5%;


}

.naavbar a:hover {
  color: rgb(72, 70, 70);
  text-decoration: none;
}
.harr h1 {
  color: rgb(0, 0, 0);
  font-size: 37px;
  margin-left: 90%;
  margin-top: -0.5%;
  position: absolute;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* heading large image items*/



.img1 img {
  margin-left: 0%;
  width: 100%;
  height: 400px;


}

.img1 h2 {
  font-size: 50px;
font-family: fantasy;
  color: black;
  margin-top: -20%;
  margin-left: 32%;

}

.img1 a {
  color: rgb(41, 82, 248);
  text-decoration: none;

}

.img1 a ::after {
  color: rgb(233, 21, 21);

}

.img1 h3 {
  font-size: 20px;
font-family: 'Times New Roman', Times, serif;
  color: rgb(0, 0, 0);
  margin-top: -1%;
  margin-left: 41%;
}








hr {
  width: 100%;

}

/*==================================================================================*/

/*first box(contents we provide) and the box is responsive*/
.provide h5 {
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 18%;
  font-size: 33px;
  margin-left: 30%;
  
  position: relative;
  padding-top: 2%;
}



div.imga1 {
  padding: 1px;
  text-align: center;
  margin-top: -35px;
  height: 35px;
  text-decoration: none;
  color: aliceblue;
}





div.gallery0 {
  border: 1px solid #ccc;

}



.imager0 {
  margin-top: 3%;
  margin-left: 9%;

padding-top: 2%;
}

div.gallery0:hover {
  border: 2px solid #4e4e4e;
}

div.gallery0 img {
  width: 100%;
  height: 11rem;
}

div.desc {
  padding: 15px;
  text-align: center;
}



.responsive0 {

  float: left;
  width: 17.99999%;

transition: 0.3s;
}



@media only screen and (max-width: 700px) {
  .responsive0 {
    width: 40.99999%;
    height: 200px;


  }


}

@media only screen and (max-width: 500px) {
  .responsive0 {
    width: 100%;
  }
}
/*==================================================================================*/

/* second box(latest from the blog) and the box is responsive*/

.blogstart h5 {
  margin-top: 24%;
  margin-left: 39%;
  font-size: 25px;

  padding-top: 1%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div.gallery {
  border: 1px solid #ccc;

}


.imager {
  margin-top: 10%;


}

div.gallery:hover {
  border: 1px solid #000000;
  
  background-color: #d8d8d8;
  color: #000000;
  border: 2px solid #000000;
  transition: 0.7s;
}

div.gallery img {
  width: 100%;
  height: 300px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;


}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49%;
    height: 500px;

  }


}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/*==================================================================================*/






/* start responsive*/


@media only screen and (max-width:1403px) {
.provide h5{
  margin-left: 28%;

}

}


@media only screen and (max-width:1324px) {
.img1 h2{
  margin-top: -23%;
}

}
@media only screen and (max-width:1226px) {
  .img1 h2{
    margin-left: 29%;
    margin-top: -27%;
  }
  .img1 h3{
    margin-left: 38%;
  }
  .provide h5{
    margin-left: 26%;
  }
  .blogstart h5{
    margin-top: 30%;
  }
}
@media only screen and (max-width:1127px) {

.harr h1{
  margin-left: 90%;
}
.provide h5{
  margin-left: 25%;
}
}
@media only screen and (max-width:1000px) {
.img1 h2 {
  font-size: 37px;
}
.img1 h3{
  font-size: 16px;
}
.provide h5{
  font-size: 25px;
  padding-bottom: 2%;
  padding-top: 2%;
}
.blogstart h5{
  padding-bottom: 2%;
  padding-top: 2%;
  font-size: 25px;
}
.img1 img{
  height: 350px;
}
}
@media only screen and (max-width:942px) {
.harr h1{

   margin-left: 90%;
}
.provide h5{
  margin-left: 26%;
}
.blogstart h5{
  margin-top: 30%;
}
}
@media only screen and (max-width:793px) {

  .harr h1{
    margin-left: 90%;
  }
  .img1 h2{
    margin-top: -37%;
    font-size: 30px;
  }
  .img1 h3{
    font-size: 13px;
  }
  .provide h5{
    margin-top: 30%;
  }
  .img1 img{
     height: 320px;
  }
  div.gallery0 img {
    width: 100%;
    height: 8rem;
  }
  .provide h5{
    font-size: 21px;
  }
  .blogstart h5{
    font-size: 21px;
  }
}
@media only screen and (max-width:700px) {
.provide h5{
font-size: 20px;
margin-left: 23%;
}
.harr h1{
font-size: 25px;
margin-top: 1%;
margin-left: 90%;
}
.blogstart h5{
  font-size: 20px;
  margin-top: 90%;
  margin-left: 35%;
}

}


@media only screen and (max-width:645px) {
  .provide h5{
    margin-left: 19%;
  }
  .blogstart h5{
     margin-left: 35%;
     margin-top: 100%;
  }
  .harr h1{
    margin-left: 90%;
  }
  .img1 h2{
    margin-left: 22%;
  }
  .img1 h3{
    margin-left: 33%;
  }
  .provide h5{
    margin-left: 15%;
  }
}

@media only screen and (max-width:589px) {
  .blogstart h5{
    margin-left: 35%;
    margin-top: 120%;
 }
}


@media only screen and (max-width:535px) { 
  .provide h5{
    margin-left: 13%;
  }
}


@media only screen and (max-width:500px) { 
  div.gallery0 img {
    width: 90%;
 
    height: 9rem;
  }
  div.gallery0:hover {
    border: 2px solid #ffffff;
  }
 
  .imga1{
    margin-left: -10%;
  }
  .provide h5{
    font-size: 17px;
    margin-left: 20%;
    margin-top: 50%;
  }
 
  .blogstart h5{
    margin-left: 25%;
    margin-top: 220%;
  }
  .img1 h2{
    font-size: 25px;
    margin-top: -50%;
    margin-left: 22%;
  }
  .img1 h3{
    font-size: 12px;
    margin-left:202 ;
  }
}


@media only screen and (max-width:475px) { 
  .harr h1{
    margin-left: 90%;
    font-size: 22px;
  }
  .naavbar a{
    font-size: 15px;
  }
  .img1 img{
    height: 250px;
  }
  .img1 h2{
    margin-top: -40%;
  }
  .provide h5{
    margin-top: 38%;
    margin-left: 15%;
  }
  .blogstart h5{
    margin-top: 220%;
  }
}

@media only screen and (max-width:443px) { 
.blogstart h5{
  margin-top: 240%;

}
}
@media only screen and (max-width:403px) {
  .blogstart h5{
    margin-top: 270%;
  
  }
  .harr h1{
    margin-left: 90%;
  }
.img1 h2{
  margin-left: 16%;
}
.img1 h3{
  margin-left: 26%;
}
.provide h5{
  margin-left: 14%;
}

}

@media only screen and (max-width:395px) {
  .img1 h2{
    margin-top: -50%;
  }
  .provide h5{
     margin-top: 50%;
     margin-left: 12%;
  }
  .harr h1{
    font-size: 17px;
    margin-left: 85%;
    margin-top: 2%;
  }
  .naavbar a{
     font-size: 12px;
  }
}

/*----------------------contact-------------*/
.footer1{
  margin-top: 90%;
  background-color: #2e2e2e;
  position: relative;

}
.contact-left{
  flex-basis: 35%;
  
}
.contact-left h1{
margin-top: 0px;
  font-size: 25px;
  margin-bottom: 10px;
  color: #000000;
}
.contact-right{
  flex-basis: 60%;
  margin-top: 10%;
  
}
.contact-left p{
  margin-top: -10px;
font-size: 15px;
}


.contact-left p i{
color:rgb(6, 171, 6);
margin-right: 15px;
font-size: 1px;
}
.social-icons{
 

}
.vl {
  border-left: 1px solid rgb(136, 133, 133);
  height: 150px;
  margin-left: 140%;
  margin-top: -43%;
}
.para p{
  margin-top: 15%;
  color: #ffffff;
  font-size: 14px;
}
.social-icons a{
  text-decoration: none;
  font-size: 22px;
  margin-right: 15px;
  color: rgb(255, 255, 255);
  display: inline-block;
  transition: transform 0.5s;
  margin-top: -20px;
}


.social-icons a:hover{
color: rgb(0, 0, 0);
transform: translateY(-5px);
}
.btn.btn2:hover{
  color: aliceblue;
}
.btn.btn2:hover{
  background-color: rgb(0, 0, 0);
  color: aliceblue;
}
.btn.btn2{
  display: inline-block;
  background: rgb(255, 255, 255);
  text-decoration: none;
  color: rgb(0, 0, 0);
  width: 101px;
  
  height: 30px;
 
  padding-top: 5px;
  margin-top: 30px;
  border-radius: 10px;
  margin-left: 80%;

}
.contact-right form{
  width: 100%;
margin-left: 80px;

}

form input, form textarea{
  width: 65%;
 
  border: 0;
  outline: none;
  background: rgb(58, 60, 58);
  padding: 15px;
  margin: 4px 0;
  color: rgb(255, 255, 255);
  font-size: 11px;
  border-radius: 6px;
  margin-left: 30%;


}

form .btn2{
  padding: 14px 25px;
  font-size: 14px;
  margin-top: 20px;
  cursor: pointer;
}
.coppyright p{

color: #ffffff;
font-size: 11px;

}
.coppyright{
  width: 100%;
  text-align: center;
  padding: 1px 0;
  background: rgb(0, 0, 0);
  font-weight: 300;
  margin-top: 10px;
  height: 20px;
}
.coppyright i{
  color: rgba(253, 25, 17, 0.7);
}

/*-----------------------responsive for small screen------------*/
nav .fas{
  display: none;
}
nav .fa{
  display: none;
}



@media only screen and (max-width:1200px) {

.vl {
  border-left: 1px solid rgb(136, 133, 133);
  height: 150px;
  margin-left: 140%;
  margin-top: -53%;
}
.btn.btn2{
  display: inline-block;
  background: rgb(255, 255, 255);
  text-decoration: none;
  color: rgb(0, 0, 0);
  width: 101px;
  
  height: 30px;
 
  padding-top: 5px;
  margin-top: 30px;
  border-radius: 10px;
  margin-left: 78%;

}
}
@media only screen and (max-width:998px) {
  form input, form textarea{

    margin-left: 20%;
  
  
  }
  .footer1{
    margin-top: 100%;
    background-color: #2e2e2e;
    position: relative;
  
  }

  .vl {
 
 
    margin-top: -80%;
  }
  .btn.btn2{
  
    margin-left: 60%;
  
  }
}

@media only screen and (max-width:880px) {
  .footer1{
    margin-top: 100%;
    background-color: #2e2e2e;
    position: relative;
    padding-top: -30%;
  }
  .blogstart {
    padding-bottom: 5%;
  }
}
@media only screen and (max-width:769px) {
  .blogstart {
    padding-bottom: 10%;
  }
  .para{
    margin-top: 18%;
    color: #000000;
    font-size: 1px;
    width: 150%;
    margin-left: -50%;
  }
  form input, form textarea{

    margin-left: 10%;
  width: 90%;
  
  }
  .vl {
 
 
    margin-top: -115%;
  }
  .social-icons a{
    margin-top: -30%;
  }
  .contact-left h1{

margin-top: 50%;
  }
}

@media only screen and (max-width:740px) {
  .blogstart {
    padding-bottom: 20%;
  }
}
@media only screen and (max-width:700px) {

  .footer1{
    margin-top: 180%;
    background-color: #2e2e2e;
    position: relative;
    padding-top: -30%;
  }
  .para p{
    
    color: #ffffff;
    font-size: 1px;
    width: 150%;
    margin-left: -45%;
  }
}
@media only screen and (max-width:664px) {
  .para p{

 
    margin-left: -20%;
    font-size: 14px;
  }
  .vl{
    margin-right: 30%;
  }
  form input, form textarea{

    margin-left: -2%;

  
  }
  .btn.btn2{
  
    margin-left: 55%;
  
  }
}

@media only screen and (max-width:623px) {
  .footer1{
    margin-top: 180%;
    background-color: #2e2e2e;
    position: relative;
    padding-top: -30%;
    width: ;
  }
  
  
  .btn.btn2{
  
    margin-left: 60%;
  
  }
  
  
  form input, form textarea{

    margin-left: 26%;
width: 70%;
  }
  .vl{
    margin-left: 158%;
  }
  .para{

 
    margin-left: -15%;
    font-size: 8px;
  }
  .social-icons a{
  font-size: 17px;
  }
  .contact-left h1{

margin-top: 50%;
margin-left: 1%;
  }
  .footer1{
    margin-top: 180%;
    background-color: #2e2e2e;

    padding-top: -50%;
  }
  .contact-right form{
    width: 100%;
  margin-left: 50px;
  
  }
}


  @media only screen and (max-width:577px) {
    .para{

 
      margin-left: 4%;
      font-size: 6px;
    }
    form input, form textarea{

      margin-left: 26%;
  width: 60%;
    }
    .contact-right form{
      width: 100%;
    margin-left: 38px;
    
    }
  
  .social-icons a{
  font-size: 15px;
 
  margin-right: 10%;
  
  }
  .contact-left h1{
font-size: 10px;
margin-top: 50%;
margin-left: 6%;
  }
.btn.btn2{
  
  margin-left: 54%;

}
.blogstart {
  padding-bottom: 70%;
}
  
  }

  @media only screen and (max-width:500px) {
.footer1{
  height: 10%;
}
.container{
margin-top: 490%;
 
}
.social-icons a{
  font-size: 14px;
 
  margin-right: 10%;
margin-bottom: -30%;
  }
.vl{
  margin-top: -120%;
}
.contact-left h1{

  top: -900%;
  height: 10px;
 
    }
    .para{

 
      margin-left: 4%;
      font-size: 10px;
    }
    
}
@media only screen and (max-width:470px) {
  .vl{
    margin-top: -130%;
    margin-left: 170%;
  }
  .btn.btn2{
  
    margin-left: 44%;
  
  }
  .container{
    margin-top: 500%;
     
    }

}
@media only screen and (max-width:447px) {
  .footer1{
    height: 10%;
  }
  .container{
  margin-top: 450%;
   
  }
  
}
@media only screen and (max-width:463px) {
  .vl{
    margin-top: -130%;
  }

  .social-icons a{
    font-size: 14px;

    margin-right: 10%;
  margin-bottom: -5%;
  padding-top: 40%;
    }
.para{
  margin-top: 19%;

  height: 50%;
}
.contact-left h1{
  padding-top: 17%;
  height: 10px;
 
    }
}
