
.naavbar a {
    font-size: 19px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    float: left;
    padding: 6px;
    margin-bottom: 1%;
    margin-bottom: -0.2%;
    margin-left: 5%;
  
  
  }
  *{
    cursor: url(icons8-cursor-64.png), pointer;
  
  }
  .naavbar a:hover {
    color: rgb(72, 70, 70);
    text-decoration: none;
  }
  .harr h1 {
    color: rgb(0, 0, 0);
    font-size: 37px;
    margin-left: 75%;
    margin-top: -0.5%;
    position: absolute;
  
  }
  nav{
    background-color: rgb(220, 220, 220);
    width: 100%;
    height: 40px;
  }

  



@media only screen and (max-width:1127px) {

    .harr h1{
      margin-left: 70%;
    }
    
    }
  
    @media only screen and (max-width:942px) {
        .harr h1{
        
           margin-left: 65%;
        }
        
        }
        @media only screen and (max-width:793px) {
  
            .harr h1{
              margin-left: 60%;
            }
        }
        @media only screen and (max-width:700px) {
           
            .harr h1{
            font-size: 25px;
            margin-top: 1%;
            margin-left: 68%;
            }
            .naavbar a {
              font-size: 18px;
            }
  
            }
  
  
  @media only screen and (max-width:645px) {
   
    .harr h1{
      margin-left: 60%;
    }
    .naavbar a {
      font-size: 15px;
    }
  }
  
  @media only screen and (max-width:475px) { 
    .harr h1{
      margin-left: 56%;
      font-size: 22px;
    }
    .naavbar a {
      font-size: 13px;
    }
  }
  @media only screen and (max-width:403px) {
    
    .harr h1{
      margin-left: 50%;
    }
  }
  
  @media only screen and (max-width:395px) {
    
    .harr h1{
      font-size: 17px;
      margin-left: 60%;
      margin-top: 2%;
    }
  }






.blogstart h5 {
  margin-top: 24%;
  margin-left: 39%;
  font-size: 25px;
  font-weight: 800;
  padding-top: 1%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.gallery {
  border: 1px solid #ccc;

}


.imager {
  margin-top: 5%;


}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 300px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;


}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49%;
    height: 500px;

  }


}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}